html, body, div, h1, h2, h3, h4, h5, h6, p, span, img, input {
	margin: 0;
	padding: 0;
}

html, body {
	font-size: 12px;
	font-family: '思源黑体简','Helvetica Neue-Light';
}

table {
	font-size: 13px;
}

.logo {
	width: 55px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 135%;
	background-image: url(https://t.alipayobjects.com/images/rmsweb/T1B9hfXcdvXXXXXXXX.svg);
	margin: 20px auto;
	display: block;
	-webkit-transition: all 1s;
	transition: all 1s;
}

.cover {
	width: 100%;
	background-color: #333;
	-webkit-transition: all 1s;
	transition: all 1s;
}

.logo:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	transform: rotate(360deg);
}

.logo:hover .cover {
	opacity: 0;
}

/*Sider*/
#leftMenu {
	position: absolute;
	width: 200px;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #333;
}

#rightWrap {
	position: absolute;
	top: 0;
	left: 200px;
	right: 0;
	bottom: 0;
	background-color: #fff;	
	padding: 0 10px 0 20px;
}

#rightWrap .right-title {
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 20px;
}

#rightWrap .right-box {
	box-sizing: border-box;
	padding: 20px 20px 0;
	position: absolute;
	top: 81px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;

}